How to load in and clean data:

1. Download and import dataset proquest_1

2. Run parole_analysis_data_1.Rmd

3. Run parole_analysis_data_2.Rmd

4. Now all data should be loaded into enviroment to create visualization